.footer-box {
    background-color: var(--color-background-grey);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-container {
    display: block;
    text-align: center;

    @media screen and (min-width: 1200px) {
      display: flex;
      text-align: start;
    }
  }

  .tablet-wrap {
    display: block;
    text-align: center;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      text-align: start;
    }
  }
  
  // .footer-block-right {
  //   padding-right: 24px;
  // }
  
  .footer-li {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }

    }
  }
  
  .address-box {
    margin-top: 20px;
  }
  
  .adress-inf {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--color-grey-address);
    display: block;
    transition: color var(--dur-time-func);
    &:hover,
    &:focus {
    color: var(--color-blue-main);
  }

  @media screen and (min-width:1200px) {
    display: inline-block;
  }
  }
  
  .address-accent {
    color: var(--color-white-main);
  }
  
  .footer-block-left {
    margin-top: 60px;

    @media screen and (min-width: 768px) {
      margin-top: 0;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 0;
      margin-left: 93px;
    }
  }
  
  .footer-bl-l-h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white-main);
    margin-bottom: 20px;
  }
  
  .footer-input-div {
    margin-top: 60px;

    @media screen and (min-width: 1200px) {
      margin-top: 0;
      margin-left: 93px;
    }
  }
  
  .footer-input-container {
    display: block;
    align-items: center;

    @media screen and (min-width: 768px) {
      display: inline-block;
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: stretch;
    }
  }
  
  .footer-preinput-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white-main);
    margin-bottom: 20px;
    display: inline-block;
  }
  
  .footer-input {
    min-width: 100%;
    height: 50px;
    padding: 15px 16px;
    margin-bottom: 20px;
  
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--color-white-main);
    border: 1px solid;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--color-background-grey);
    outline: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    transition: border-color var(--dur-time-func);
    &::placeholder {
      font-family: inherit;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: calc(20 / 16);
      letter-spacing: 0.03em;
      color: var(--color-grey-address);
    }
    &:focus-within {
      border-color: var(--color-blue-main);
    }

    @media screen and (min-width: 480px) {
      min-width: 450px;
    }

    @media screen and (min-width: 768px) {
      display: block;
      align-items: center;
      justify-content: center;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 12px;
      margin-bottom: 0;
      min-width: 358px;
    }
  }
  
  .footer-input-btn {
    min-width: 200px;
    height: 50px;

    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-white-main);
  
    background: var(--color-blue-main);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    position: relative;
    transition: background-color var(--dur-time-func);
    &:hover,
    &:focus {
    background-color: var(--color-blue-accent);
  }
  }
  
  .footer-input-btn-text {
    position: absolute;
    top: 10px;
    left: 28px;
  }
  
  .footer-input-icon {
    position: absolute;
    top: 13px;
    right: 28px;
    fill: var(--color-white-main);
  }